*
{
    
    font-family:cursive;
    background-color: bisque;
}
h2{
    text-transform:uppercase;
    color:#0B698B;
    font-weight: bold;
    font-family:cursive;
    font-size: 30px;;
}
p
{
    color:black;
    text-shadow: 2px 4px 8px solid;
    
}